.overlay {
  background: rgba(
    47,
    65,
    79,
    0.9
  ); /* adjust background color and opacity as needed */
  transition: visibility 0s, opacity 0.3s linear;
}

.image-container:hover .overlay {
  visibility: visible;
  opacity: 1;
}