.contact-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  font-size: 1.2em;
  margin-top: 10%;
}

.contact-header {
  width: 100%;
  margin-left: 20%;
  margin-top: 10%;
  max-height: 70%;
  padding: 0 5%;
}

.contact-form {
  margin-left: 10%;
  display: grid;
}

.input-form {
  background-color: var(--color4);
  width: 50%;
  margin-bottom: 5%;
  margin-left: 24%;
  line-height: 2;
  font-size: 1.1em;
}

.contact-text {
  width: 75%;
  height: 15em;
  margin-bottom: 1.5%;
  background-color: var(--color4);
  font-size: 1.2em;
}

.contact-err {
  color: red;
  margin: 0 0 2%;
}

.contact-btn {
  font-size: 1.2rem;
  width: 75%;
  height: 2em;
  border-style: none;
  background-color: var(--color4);
  color: var(--color1);
}

.long-grid {
  grid-column: 1 / 3;
}

.input-form::placeholder,
.contact-text::placeholder {
  color: var(--color1);
}

.input-form:focus,
.contact-text:focus {
  outline: 2px solid var(--color3);
}

.email-copy:hover {
  color: var(--color3);
}

.email-copy {
  text-decoration: none;
  margin-left: 2%;
}

@media all and (max-width: 800px) {
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 0.9em;
  }

  .contact-header {
    width: 100%;
    margin: 5% 0 0;
    padding: 0 5%;
  }

  .contact-header p {
    width: 100%;
  }

  .contact-form {
    margin: 10% 0;
  }
}
