:root {
  --color1: #2f414f;
  --color2: #f1f1ef;
  --color3: #3894a3;
  --color4: #c7dad4;
}

body {
  margin: 0;
  background-color: var(--color1);
  color: var(--color2);
  overflow: hidden;
  display: block;
}

/* ----------------------------------------------NAVBAR---------------------------------------------------------- */
.nav-bar {
  position: absolute;
  top: 0;
  background-color: var(--color3);
  width: 100%;
  min-height: 100px;
}

.nav-bar a {
  font-size: 38px;
  color: var(--color4);
}

.nav-bar a:hover svg,
.sidebar-list a:hover svg {
  opacity: 0;
}

.nav-bar a:hover::after,
.sidebar-list a:hover::after {
  opacity: 1;
}

.nav-bar a::after,
.certs-list a::after,
.project-set a::after {
  content: "";
  font-size: 30px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  left: -30px;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.about-link {
  position: absolute;
  top: 30%;
  left: 25%;
}

a.about-link::after {
  content: "ABOUT";
}

.skill-link {
  position: absolute;
  top: 30%;
  left: 40%;
}

a.skill-link::after {
  content: "SKILLS";
}

.project-link {
  position: absolute;
  top: 30%;
  left: 55%;
}

a.project-link::after {
  content: "PROJECTS";
}

.contact-link {
  position: absolute;
  top: 30%;
  left: 70%;
}

a.contact-link::after {
  content: "CONTACT";
}

a.active {
  color: var(--color1);
}

/* -----------------------------------------------SIDEBAR------------------------------------------------------ */

.sidebar-list {
  padding: 13px;
}

.sidebar-list a {
  font-size: 30px;
  color: var(--color4);
}

.sidebar-list a::after {
  content: "";
  font-size: 15px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 7px;
  left: -20px;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.ga-icon {
  position: absolute;
  top: 2%;
  right: 2%;
}

a.ga-icon::after {
  content: "GitHub";
}

.li-icon {
  position: absolute;
  top: 8%;
  right: 2%;
}

a.li-icon::after {
  content: "LinkedIn";
}

/* --------------------------------------------------ABOUT---------------------------------------------------- */
.about-head {
  display: flex;
  justify-content: center;
  margin-top: 6%;
  font-size: 3rem;
}

.about-p {
  margin: 5%;
  line-height: 1.5;
  font-size: 1.5em;
}

.about-pic {
  float: left;
  margin: auto 10%;
  border-radius: 25%;
}

/* -----------------------------------------------------CONTACT------------------------------------------ */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  font-size: 1.2em;
  margin-top: 10%;
}

.contact-header {
  width: 100%;
  margin-left: 20%;
  margin-top: 10%;
  max-height: 70%;
  padding: 0 5%;
}

.contact-form {
  margin-left: 10%;
  display: grid;
}

.input-form {
  background-color: var(--color4);
  width: 50%;
  margin-bottom: 5%;
  margin-left: 24%;
  line-height: 2;
  font-size: 1.1em;
}

.contact-text {
  width: 75%;
  height: 15em;
  margin-bottom: 1.5%;
  background-color: var(--color4);
  font-size: 1.2em;
}

.contact-err {
  color: red;
  margin: 0 0 2%;
}

.contact-btn {
  font-size: 1.2rem;
  width: 75%;
  height: 2em;
  border-style: none;
  background-color: var(--color4);
  color: var(--color1);
}

.long-grid {
  grid-column: 1 / 3;
}

.input-form::placeholder,
.contact-text::placeholder {
  color: var(--color1);
}

.input-form:focus,
.contact-text:focus {
  outline: 2px solid var(--color3);
}

.email-copy:hover {
  color: var(--color3);
}

.email-copy {
  text-decoration: none;
  margin-left: 2%;
}

/* -------------------------------------------------------------------SKILLS------------------------------------------------------------------------ */
.skill-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10% 5% 0;
  text-align: center;
  gap: 5%;
  font-size: 1.2em;
}

/* ===============CERTS========================== */
.sololearn-icon {
  width: 100px;
  color: var(--color3);
}

.certificates a {
  font-size: 500%;
  color: var(--color2);
}

.certs-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25%;
  margin-top: 10%;
}

.certs-list a:hover svg {
  opacity: 0;
}

.certs-list a:hover .sololearn-icon {
  opacity: 0;
}

.certs-list a:hover::after {
  opacity: 1;
}

.fcc-link,
.sololearn-link,
.grasshopper-link,
.credly-link {
  position: relative;
}

a.fcc-link::after {
  content: "freeCodeCamp";
  top: 30%;
}

a.sololearn-link::after {
  content: "Sololearn";
  top: 30%;
  left: 3%;
}

a.grasshopper-link::after {
  content: "Grasshopper";
  top: 28%;
}

a.credly-link::after {
  content: "Credly";
  top: 25%;
  left: 6%;
}

.gh-list {
  display: grid;
  justify-items: center;
  margin: 6% 10% 0;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5%;
}

.gh-image {
  width: 280px;
  height: 270px;
}

.gh-large {
  width: 250px;
}

/* ==============RESUME===================== */
.resume-section {
  line-height: 1.5;
}

.resume-section a {
  color: var(--color2);
  text-decoration: none;
}

.resume-section a:hover {
  color: var(--color3);
}
/* ===========================TECH============================== */
.skills ul {
  list-style: none;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
}

.progress {
  margin-top: 2%;
  background-color: var(--color4);
}

.inner-prog {
  background-color: var(--color3);
  height: 25px;
}

/* ---------------------------------------------------------------PROJECTS----------------------------------------------------------------------- */
.project-set {
  width: 100vw;
  height: 90vh;
  margin-top: 3.8%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.project-set img {
  max-width: 380px;
  height: 98%;
}
.project-set a:hover img {
  opacity: 0.1;
}

.project-set a:hover::after {
  opacity: 1;
  color: var(--color4);
  line-height: 2;
}

.e-proj,
.orm-proj,
.note-proj,
.tech-proj,
.scribe-proj,
.task-proj,
.hang-proj,
.book-proj {
  position: relative;
}

a.e-proj::after {
  content: "MySQL Employee Tracker";
  top: -220px;
  left: 10px;
  width: 95%;
}

a.orm-proj::after {
  content: "ORM E-commerece backend";
  top: -230px;
  left: 10px;
}

a.note-proj::after {
  content: "Just Another Text Editor";
  top: -200px;
  left: 10px;
}

a.tech-proj::after {
  content: "TechTalk a tech blog";
  top: -200px;
  left: 15px;
}

a.scribe-proj::after {
  content: "Scribe a travel journal";
  top: -200px;
  left: 2px;
}

a.task-proj::after {
  content: "onTask a project manager";
  top: -200px;
  left: 5px;
}

a.hang-proj::after {
  content: "Star Wars Hangman";
  top: -180px;
  left: 10px;
}

a.book-proj::after {
  content: "Book Search w/ Google Books API";
  top: -180px;
  left: 50px;
  width: 70%;
}

@media all and (max-width: 800px) {
  body {
    overflow: auto;
  }

  /* ----------------------------ABOUT--------------------------------------------- */
  .about-head {
    margin-top: 25%;
    font-size: 2rem;
  }
  
  .about-p {
    margin: 5%;
    font-size: 1em;
    width: 85%;
  }
  
  .about-pic {
    float: left;
    border-radius: 25%;
    width: 30%;
  }

  /* -------------------------------------------CONTACT---------------------------------------------------------------- */
  .contact-container {
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: .9em;
  }
  
  .contact-header {
    width: 100%;
    margin: 5% 0 0;
    padding: 0 1%;
  }

  .contact-header p {
    width: 90%;
  }
  
  .contact-form {
    margin: 2% 5% 0 0;
  }
  
  /* -------------------------------------------------------------------SKILLS------------------------------------------------------------------------ */
.skill-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 12% 5% 0;
  font-size: 1em;
}

.skill-grid h1 {
  font-size: 1.5em;
}

/* ===============CERTS========================== */

.certificates a {
  font-size: 300%;
}

.certificates p {
  width: 90%;
}

.certs-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15%;
  margin: 10% 5% 0;
  padding: 0;
}

.sololearn-icon {
  width: 60px;
}

.gh-list {
  margin: 20% 0;
  grid-template-columns: 1fr;
  row-gap: 1%;
}

/* ==============RESUME===================== */
.resume-section {
  line-height: 1;
  width: 95%;
}

/* ===========================TECH============================== */
.tech-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
}

.inner-prog {
  height: 20px;
}
  
.apollo {
  white-space: nowrap;
}

/* ---------------------------------------------------------------PROJECTS----------------------------------------------------------------------- */
.project-set {
  margin-top: 14%;
  display: grid;
  grid-template-columns: 1fr;
}

.project-set img {
  max-width: 100%;
  height: 100%;
}
}