:root {
  --color1: #304250;
  --color2: #f1f1ef;
  --color3: #3894a3;
  --color4: #c7dad4;
}

body {
  margin: 0;
  background-color: var(--color1);
  color: var(--color2);
  overflow: hidden;
  display: block;
}

/* -----------------------------------------------SIDEBAR------------------------------------------------------ */

.sidebar-list {
  padding: 13px;
}

.sidebar-list a {
  font-size: 30px;
  color: var(--color4);
}

.sidebar-list a::after {
  content: "";
  font-size: 16px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 10px;
  left: -22px;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.ga-icon {
  position: absolute;
  top: 15px;
  right: 30px;
}

a.ga-icon::after {
  content: "GitHub";
}

.li-icon {
  position: absolute;
  top: 55px;
  right: 30px;
}

a.li-icon::after {
  content: "LinkedIn";
}

@media all and (max-width: 800px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  /* -----------------------------------------------SIDEBAR------------------------------------------------------ */
  .sidebar-list a {
    font-size: 18px;
  }

  .ga-icon {
    position: absolute;
    top: 20px;
    right: 25px;
  }

  .li-icon {
    position: absolute;
    top: 55px;
    right: 25px;
  }
}
